{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Erreur détectée
{% endblock %}

{% block body %}

<div class="d-flex flex-row justify-content-center"m-5>

    <div>   
        <h2>Une erreur a été rencontrée</h2>
        <div class="alert alert-danger">{{ message }}</div>
    </div>
    
</div>
{% endblock %}
