{% extends 'base.html.twig' %}

{% block title %}Page de bienvenue | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Page de test de traduction</h1>

    <h2>{% trans %}Welcome to Symfony{% endtrans %}</h2>
    <h3>{{ 'say_hello'|trans({'%name%': 'JMarc'})}}</h3>
{% endblock %}
